<!--<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    
    <ng-container matColumnDef="Nro_Empleado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo del Empleado </th>
      <td mat-cell *matCellDef="let element"> {{element.Nro_Empleado}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del empleado </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Celular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.Celular}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
      <td mat-cell *matCellDef="let element"> {{element.Direccion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Horas_Extras">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de Horas Extras </th>
      <td mat-cell *matCellDef="let element"> {{element.Horas_Extras}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Dias_Puntual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias Puntual </th>
      <td mat-cell *matCellDef="let element"> {{element.Dias_Puntual}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Dias_Atrasado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias Atrasado </th>
      <td mat-cell *matCellDef="let element"> {{element.Dias_Atrasado}} </td>
    </ng-container>

    <ng-container matColumnDef="Dias_que_Falto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias que Falto </th>
        <td mat-cell *matCellDef="let element"> {{element.Dias_que_Falto}} </td>
    </ng-container>

    <ng-container matColumnDef="Dias_Totales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias Totales </th>
        <td mat-cell *matCellDef="let element"> {{element.Dias_Totales}} </td>
    </ng-container>
    <ng-container matColumnDef="Años_De_Antiguedad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Años De Antiguedad </th>
        <td mat-cell *matCellDef="let element"> {{element.Años_De_Antiguedad}} </td>
    </ng-container>
    <ng-container matColumnDef="Mes_de_informacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mes de informacion </th>
        <td mat-cell *matCellDef="let element"> {{element.Mes_de_informacion}} </td>
    </ng-container>
    <ng-container matColumnDef="Rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.Rol}} </td>
    </ng-container>

    <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.Departamento}} </td>
    </ng-container>



  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
-->
<p>Actividad</p>