<div class="conteiner">
    <h1></h1>
            <h1 *ngIf="authSvc.isLogged | async ">Welcome</h1>
            <h3>Seleccion el rol en el que desempeñaras:</h3>
            
                <button mat-raised-button color= "blue" class="b3 " (click)="changeRol('Admi')">Administrador</button>
                <button mat-raised-button color= "blue" class="b3" (click)="changeRol('Empleado')">Empleado</button>
                <button mat-raised-button color= "blue" class="b3 " (click)="changeRol('PE')">Persona Externa</button>
            
            <h1>{{rol}}</h1>
</div>

